// General Clearfix
.clear {
  *zoom: 1;

  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: " ";
    display: table;
  }
}

// Sticky header configuration
.site-header {
  padding: 2% 2% 1% 2%;
  background: var(--background);
  display: inline-block;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Adds shadow for depth

  .separator {
    user-select: none;
    opacity: 0; // Hide the first separator by default

    &:first-child {
      display: none;
    }
  }

  a {
    color: var(--header-link); // Use CSS variable for link color
    text-decoration: none; // No underline

    &:hover {
      color: var(--link-hover-color); // Color on hover
    }
  }

  .avatar {
    height: 3em;
    width: 3em;
    float: left;
    margin-top: -13px;
    border-radius: 0.2em;
    margin-right: 0.5em;
    padding: 10px 10px;
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-family: $font-family-logo;
    font-size: 1.3em;
  }
}

// Navigation styling
nav {
  list-style: none;
  margin: 0;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.
